<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
  </head>
  <body>
    <p>{{1 + 6}}</p>
    <p>{{3.14159265359 | currency: "€"}}</p>
    <p>{{3.14159265359 | number: 6}}</p>
    <p>{{3.14159265359 | number: 3}}</p>
    <p>{{3.14159265359 | number: 1}}</p>
    <p>Please say something</p>
    <p><input type="text" ng-model="something"></p>
    <p>Yelling: {{something | lowercase}} </p>
    <p>Whispering: {{something | uppercase}}</p>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world! </p>
    <p>1+2 = {{1+2}}</p>
    <p>My name is {{"Tim" + " the" + " Tiny" + " Turtle"}}</p>
    <p>The array [99,43,22] is {{ [99,43,22].length }} items long</p>
    <input type="text" placeholder="What is your name?" ng-model="name">
    <h1>My name is: {{name}}</h1>
    <select name="select" ng-model="pets">
      <option value="dogs">dogs</option>
      <option value="cats">cats</option>
      <option value="dogs and cats">dogs and cats</option>
      <option value="neither">neither</option>
    </select>
    <h3>I &#60;3 {{pets}}</h3>
    <p>How many digits of pi do you want?<select name="pi" ng-model="digits"></p>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <p>Here you go! The first {{digits}} digits of pi!</p>
    <p>{{3.14159265359 | number: digits}}</p>
    <h3>Super Useful Tip Calculator</h3>
    <p>How much did your meal cost? <input type="text" ng-model="cost"></p>
    <p>How much do you want to tip?</p>
    <select name="tip" ng-model="percentage">
      <option value="0.1">10%</option>
      <option value="0.15">20%</option>
      <option value="0.2">30%</option>
    </select>
    <h4>Subtotal: {{cost | currency}}</h4>
    <h4>Tip: {{cost*percentage | currency}}</h4>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </body>
</html>
